<!DOCTYPE html>


<html>
    <head>
        <meta charset="utf-8">
        <title>HTML: Text emphasis</title>
    </head>
    <body>

    <h1>ToneTeller- Comparisons and Trends Made Easy with AI </h1>
    <br>
   
    
   
   <p style="text-align: center; font-size: 22px; "><strong>How Does ToneTeller Work?</strong></p>
   <p style="text-align: center; font-size: 17px;">We make research easy by scouring the web and analyzing AI to help you make informed decisions!<br> The app takes two keywords you want to compare and returns visually pleasing graphs with sentiment statistics. <br> We can help you decide what stocks to invest in, what product to buy, who to vote for, and much more! <br> </p>
    <div class="formdiv">
      <form action = "http://localhost:5000/text" method = "post">
         <p>Enter Keywords to Compare: <p>
         <p><input type = "text" name = "nm" /></p>
         <p><input type = "text" name = "nm2" /></p>
         <p><input type = "submit" value = "submit" /></p>
         
      </form>
    </div>
    </body>
      

      
      
      <h5></h5>




   </body>
</html>

<style>
    .formdiv{
        text-align: center;
    }

    h1{

        color:red;
        font-size:  24px;
        text-align: center;

    }

    h2{

        font-size: 20px;
    }

    h3{

        font-size: 16px;
    }

    body{
        background-color: rgb(0, 234, 255);
    }

    h4{
        font-size: 16px;
    }

</style>